<h1>Information on {{ vm.hotel.name}} - <hotel-rating stars="vm.stars"></hotel-rating></h1>
<p>{{ vm.hotel.description}}</p>
<p>The hotel offers the following services</p> 
<ul ng-repeat="service in vm.hotel.services"">
	<li>{{service }}</li>
</ul>
<p>Reviews</p> 
<ul ng-repeat="review in vm.hotel.reviews"">
	<li>{{review.name}} says : {{review.review}}</li>
</ul>


<form name="vm.reviewForm" ng-submit="vm.addReview()">
Your Name : <input type="text" name="reviewer" required ng-minlength="2" ng-model="vm.reviewer"> 
<div ng-show="vm.reviewForm.reviewer.$dirty && vm.reviewForm.reviewer.$invalid && vm.isSubmitted">Minimum 2 charaters required in name</div>
Rating : <input type="text" required ng-pattern="/[1-5]$/" name="rating" ng-model="vm.rating"> 
<div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">Rating should be a number 1-5</div>
Review : <input type="text" required name="review" ng-model="vm.review">
<div ng-show="vm.reviewForm.review.$dirty && vm.reviewForm.isSubmitted">Please enter review</div>
<button type="submit" class="btn">Add Review</button>
</form>
